<article class="post">
    <div class="card text-white bg-dark mb-3" style="max-width: 35rem;">
        <div class="card-header">
            <h4><a href="/post/{{id}}">{{title}}</a></h4>
        </div>
        <div class="card-body">
            <h4 class="card-title"></h4>
            <p class="card-text">{{content}}</p>
            <strong>Posted by {{user.name}} on {{format_date createdAt}}</strong>
        </div>
    </div>
</article>
